html{
	background-color: #87CEEB;
}

nav{
	background-color: #00BFFF;
}
#x{
	height: 800px;
	width: 450px;
}
.form-login{
	height: 450px;
	width: 450px;
	border-radius: 10px;
	margin: 0 auto;
	
	background-color: #E0FFFF;
	
}

.form-cadastro{
	height: 500px;
	width: 420px;
	border-radius: 10px;
	margin: 0 auto;
	
	background-color: #E0FFFF;
	
}