html{
	background-color:#EEE9E9;
}

nav{
	background-color: #FF0000;
}

figure{
	width: 215px;
	height: 260px;
	text-align: center;
	padding-top: 5px;
}

.form-modal{
	  background-image: url("img/logo.png");
}

.cinza{
	background-color: #D3D3D3;
}

.branco{
	background-color: #FFFAFA;
}

.sinopse{
	height: 260px;
}

.informacoes{
	width: 215px;
}
